* {
  margin: 0;
  padding: 0;
}
h1 {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 1rem;
}
body {
  height: 500vh;
}
.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
